---
// トップページ：Signals にリダイレクト
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/signals/">
  <title>nexs - Redirecting...</title>
</head>
<body>
  <p><a href="/signals/">Signals ページへ移動します…</a></p>
</body>
</html>
